@import "tailwindcss";
#root {
  width: 100%;
  overflow-x: hidden;
}
.hero{
  background-image: url('assets/hero.jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-text {
  mix-blend-mode: difference;
  color: white;
}

.background {
  background: linear-gradient(135deg, rgb(237, 242, 251), rgb(226, 234, 252), rgb(215, 227, 252), rgb(204, 219, 253), rgb(193, 211, 254), rgb(182, 204, 254),rgb(171, 196, 255));
  background-size: 600% 600%;
  animation: gradientMove 8s linear infinite;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  mask-image: radial-gradient(circle at center, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);

  /* opacity: 0.3; */
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 100% 30%;
  }
  40% {
    background-position: 80% 100%;
  }
  60% {
    background-position: 20% 80%;
  }
  80% {
    background-position: 90% 20%;
  }
  100% {
    background-position: 0% 50%;
  }
}

